@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color:  linear-gradient(90deg, #D64B45, #4B3E9E);
  --secondary-color: linear-gradient(90deg, #FF6F61, #6A5ACD);
  --sec-color: linear-gradient(90deg, #D64B45, #4B3E9E);
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

@media (max-width: 768px) {
  .app-container .col-lg-2,
  .app-container .col-lg-6,
  .app-container .col-lg-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: var(--font-name);
} */

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--sec-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

.section__subtitle {
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}


.gradient-text {
  background: linear-gradient(90deg, #FF6F61, #6A5ACD);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
  background-clip: text;           
  color: transparent;           

  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 10;
  font-size: 5.7rem;
  color: var(--heading-color);

}
